.wrapper {
  background-color: #dadada;
  background-image: url("/src/background.jpg");
  background-size: cover;
  height: 100vh;
  color: #ffffff;
}

.overlay {
  height: 100vh;
  background-color: #005050aa;
}

.center-container {
    height: 100vh;
}

.heading-wrapper {
    text-align: center;
}

h1 {
  font-size: 5em;
  margin-bottom: 0px;
}

img {
  filter: invert(100%);
}

.blueText {
  color: #0abdc6;
}

.pinkText {
  color: #ea00d9;
}

.whiteText {
    color: white;
}