.wrapper {
  /* background-image: url("/src/background.jpg");
  background-size: cover; */
  height: 100vh;
  color: #ffffff;
  background: linear-gradient(180deg, #ea00d9, #185a79, #0b2d44);
}

.overlay {
  height: 100vh;
  /* background-color: #005050aa; */
  
}

.center-container {
  /* height: 100vh; */
  padding-top: 25vh;
  
}

.heading-wrapper {
  text-align: center;
}

h1 {
  font-size: 5em;
  margin-bottom: 0px;
}

img {
  filter: invert(100%);
}

.blueText {
  color: #0abdc6;
}

.pinkText {
  color: #ea00d9;
}

.whiteText {
  color: white;
}

@media (max-width: 767px) {
  .separator {
    display: none;
  }
  .mobile-line-break {
    display: block;
  }
}

@media (min-width: 768px) {
  .mobile-line-break {
    display: none;
  }
}
