.custom-navbar {
  height: 5em;
  background-color: #091833 !important;
  box-shadow: 0 3px 15px #711c91;
}

.custom-brand {
  font-size: 1.5em;
  color: #ddd;
  text-transform: uppercase;
  font-weight: bold;
  margin-right: 25em;
  margin-left: 10em;
}

.custom-brand:hover {
  color: #ea00d9;
  transition: color 0.3s;
}

.custom-brand.active {
  color: #ddd !important;
}

.custom-link {
  display: inline-block;
  color: #ea00d9;
  text-decoration: none;
  padding: 0.5em 1em;
  border: none;
  cursor: pointer;
  transition: color 0.3s;
  text-transform: uppercase;
  font-weight: bold;
}

.custom-link:hover {
  color: #ddd;
}

.custom-link.active {
  color: #ddd !important;
}

.navbar-toggler {
  border-color: #ea00d9;
  background-color: #ea00d9;
}

@media (max-width: 991px) {
  .custom-brand {
    margin-right: 0;
    margin-left: 2em;
  }

  .navbar-collapse {
    background-color: #091833;
    position: absolute;
    top: 5em;
    left: 0;
    width: 100%;
  }
}
