.vertical-list {
    margin-bottom: 10px;
}

.horizontal-triplet {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
    /* Optional: Adjust the spacing between the divs */
}

.triplet-item {
    width: 33%;
    margin-left: 50px;
    text-align: left;
    /* Center the text vertically */
}

.header-center {
    text-align: center;
 }

.vertical-line {
    position:absolute;
    top: 50%;
    left: 45%;
    height:200px;
    border: 1px solid white;
}