body {
    color: #0abdc6;
    background-color: #091833;
    font-family: "Lucida Console", "Courier New", monospace;
}

h3, h2 {
    color : #ea00d9 /* #711c91, #ea00d9 */
}

section {
    min-height:100vh;
}

html {
    scroll-behavior: auto !important;
    scroll-padding: 5em;
}